---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Andrey Ozornin</title>
	</head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <h1>Andrey Ozornin</h1>
        <p>
            Hi! I'm Andrey. I'm a software engineer and I love building things for the web. I'm currently working on diagramming at <a href="https://miro.com">Miro</a> as a front end developer.
        </p>
        <p> 
            I believe in web. We're here to solve problems of the real world and make it better, not worse.
        </p>
        <p>
            Also, I am a musician. I make pensive electronica as Three Colored Squares and some easygoing French house as Bel Avenir.
        </p>
        <p>
            You can connect with me via email (preferably) or on social platforms:
            <br/>
            Telegram
            <br/>
            LinkedIn
            <br/>
            GitHub
            <br/>
            SoundCloud
        </p>
        <p>
            You can't find me on Twitter, Facebook or Instagram. I have accounts there but I don't use them and I think you shouldn't either.
        </p>
    </body>
</html>