---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";
---

<BaseLayout>
    <h1>{pageTitle}</h1>
    <p>
        Hi! I'm Andrey. I'm a software engineer and I love building things for the web. My full-time job is <a href="https://miro.com">Miro</a> where I am a front end developer working on diagramming. Also, I worked at Booking.com, Genestack, Wrike and Yandex.
    </p>
    <p> 
        I believe in web. Web is the most open and the most DIY friendly of all platforms. It makes information equally accessible from anywhere in the world. It is democratic in the best possible way and anyone can contribute to it. Many governamental and international institutions could learn from the web.
    </p>
    <p>
        Also, I am a musician. I make pensive electronica as Three Colored Squares and some easygoing French house as Bel Avenir.
    </p>
</BaseLayout>
