---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = "My Blog"
---

<BaseLayout pageTitle={title}>
    <p>This is where I will post about programming, music and life in general</p>

    <ul>
        <li><a href="/posts/sample-post/">Sample post</a></li>
        <li><a href="/posts/post-2/">Post 2</a></li>
        <li><a href="/posts/post-3/">Post 3</a></li>
    </ul>
</BaseLayout>
  