---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const links = (await getCollection('links'))
    .sort(
        (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
    )
const renderedPosts = await Promise.all(links.map(post => post.render()))
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={`Links — ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
</head>
<body>
<Header />
<main>
    <>
        {
            renderedPosts.map(({Content}) => (
                <Content />
            ))
        }
    </>
</main>
<Footer />
</body>
</html>
