---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Links"
	description="My recommendations"
	pubDate={new Date('September 13 2024')}
>
	<h3>Organizations worth supporting</h3>
	<ul>
		<li><a href="https://www.givewell.org">GiveWell</a></li>
		<li><a href="https://www.thelifeyoucansave.org">The Life You Can Save</a></li>
		<li><a href="https://www.eff.org">EFF</a></li>
		<li><a href="https://wikimediafoundation.org">Wikimedia</a></li>
		<li><a href="https://www.khanacademy.org/">Khan Academy</a></li>
		<li><a href="https://supporting.openstreetmap.org">OpenStreetMap Foundation</a></li>
		<li><a href="https://archive.org">Internet Archive</a></li>
	</ul>
	<h3>Personal blogs I find interesting:</h3>
	<ul>
		<li><a href="https://pluralistic.net">Pluralistic</a> by Cory Doctorow</li>
		<li><a href="https://newsletter.pragmaticengineer.com">Pragmatic Engineer</a> by Gergely Orosz</li>
		<li><a href="https://www.astralcodexten.com">Astral Codex Ten</a> by Scott Alexander</li>
		<li><a href="https://www.wheresyoured.at">Where's Your Ed At</a> by Ed Zitron</li>
	</ul>
	<h3>Products I use:</h3>
	<ul>
		<li><a href="https://kagi.com">Kagi</a> - Superior search engine</li>
		<li><a href="https://hyliu.me/fluent-reader/">Fluent Reader</a> - Desktop RSS reader</li>
		<li><a href="https://codeberg.org">Codeberg</a> - Open-source community-driven git hosting</li>
		<li><a href="https://codeberg.org">Codeberg</a> - Open-source community-driven git hosting</li>
	</ul>
</Layout>
