---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Links"
	description="My recommendations"
	pubDate={new Date('September 13 2024')}
>
	<h3>Organizations worth supporting</h3>
	<ul>
		<li><a href="https://www.givewell.org">GiveWell</a></li>
		<li><a href="https://www.thelifeyoucansave.org">The Life You Can Save</a></li>
		<li><a href="https://www.eff.org">EFF</a></li>
		<li><a href="https://wikimediafoundation.org">Wikimedia</a></li>
		<li><a href="https://www.khanacademy.org/">Khan Academy</a></li>
		<li><a href="https://supporting.openstreetmap.org">OpenStreetMap Foundation</a></li>
		<li><a href="https://archive.org">Internet Archive</a></li>
	</ul>
	<h3>Personal blogs I find interesting:</h3>
	<ul>
		<li><a href="https://pluralistic.net">Cory Doctorow - Pluralistic</a></li>
		<li><a href="https://newsletter.pragmaticengineer.com">Gergely Orosz - Pragmatic Engineer</a></li>
		<li><a href="https://www.astralcodexten.com">Scott Alexander — Astral Codex Ten</a></li>
		<li><a href="https://www.wheresyoured.at">Ed Zitron — Where's Your Ed At</a></li>
	</ul>
	<h3>Products I recommend:</h3>
	<ul>
		<li><a href="https://kagi.com">Kagi</a> - Superior search engine</li>
		<li><a href="https://hyliu.me/fluent-reader/">Fluent Reader</a> - Desktop RSS reader</li>
	</ul>
</Layout>
