---
import Layout from '../layouts/BlogPost.astro';
import { SITE_TITLE } from '../consts';
---

<Layout
	title={`I Use — ${SITE_TITLE}`}
	description="Tools and technologies that I use"
	pubDate={new Date('October 15 2024')}
>
	<ul>
		<li><a href="https://code.visualstudio.com">Visual Studio Code</a> with the <a href="https://www.jetbrains.com/lp/mono/">JetBrains Mono</a> font</li>
    <li><a href="https://obsidian.md">Obsidian</a> for structured notes</li>
    <li><a href="https://kagi.com">Kagi</a> for web search</li>
		<li><a href="https://hyliu.me/fluent-reader/">Fluent Reader</a> to read RSS</li>
		<li><a href="https://codeberg.org">Codeberg</a> to host pet projects</li>
    <li><a href="https://astro.build">Astro</a> hosted on <a href="https://pages.github.com">GitHub Pages</a> to run this website</li>
    <li><a href="https://kagi.com/orion/">Orion</a> as the primary browser with:
      <ul>
        <li><a href="https://bitwarden.com/">BitWarden</a> as a password manager</li>
        <li><a href="https://ublockorigin.com">uBlock Origin</a> to disenshittify the web a little</li>
      </ul>
    </li>
    <li><a href="https://arc.net/download">Arc</a> as a secondary browser</li>
    <li>
      <a href="https://ableton.com/">Ableton Live! Suite</a> for composition, sound design and mixing with:
      <ul>
        <li><a href="https://www.arturia.com/products/software-instruments/v-collection/overview">Arturia V Collection X</a></li>
        <li><a href="https://www.minimal.audio/products/rift">Rift Filter</a></li>
      </ul>
    </li>
    <li><a href="https://www.reaper.fm/">Reaper</a> for recording with <a href="https://www.izotope.com/en/products/ozone.html">Izotope Ozone 11</a> for mastering</li>
	</ul>
</Layout>
