---
import SocialLinks from "./SocialLinks.astro";
import RSSIcon from "./RSSIcon.astro";

const today = new Date();
---

<footer>
	{today.getFullYear()} Andrey Ozornin. <a href="/src/pages/rss-en.xml">RSS<RSSIcon /></a>. <a href="/uses">Stuff I use</a>. This web page achieves a <a href="https://www.websitecarbon.com/website/ozorn-in/">carbon rating of <span style="color:green;">A+</span></a>
	<p>Texts on this site are licensed under <a href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer">CC BY 4.0</a>, unless explicitly stated otherwise.</p>
	<SocialLinks />
</footer>
<style>
	footer {
		padding: 2em 1em;
		background: var(--background-color);
		color: var(--pale-text-color);
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: var(--pale-text-color);
	}
	.social-links a:hover {
		color: var(--gray-dark);
	}
</style>
