---
import SocialLinks from "./SocialLinks.astro";
import RSSIcon from "./RSSIcon.astro";

const today = new Date();
---

<footer>
	{today.getFullYear()} Andrey Ozornin. <a href="/rss.xml">RSS<RSSIcon /></a>
	<p>Texts on this site are licensed under <a href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer">CC BY 4.0</a>, unless explicitly stated otherwise.</p>
	<SocialLinks />
</footer>
<style>
	footer {
		padding: 2em 1em;
		background: rgb(var(--white));
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
