---
type Props = {
    license: 'cc' | 'prop'
}
const {license} = Astro.props
---
{license === 'prop' && 
    <span>All rights reserved</span>
}
{license === 'cc' && (
    <span>Licensed as 
        <a href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0</a>
    </span>
)}